<div class="flex justify-center" data-controller="dialog" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" class="bg-gradient-to-br from-1344darkblue to-1344darkpurple w-1/2 rounded-lg px-6 py-4">
    <h3 class="text-center">
      <span class="text-blue-600">Nous Contacter</span>
    </h3>

    <%= form_with url: contact_form_path, local: true, scope: :contact, html: { class: "gap-4 flex flex-col text-left" } do |form| %>

      <div class="flex justify-around gap-4">
        <div class="w-1/2">
          <%= form.label :first_name, "Prénom", class: "mb-2 block text-sm font-medium text-gray-100" %>
          <%= form.text_field :first_name, autofocus: true, id: "first-name", class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm transition focus:duration-150 focus:outline-none focus:ring-blue focus:border-blue sm:text-sm" %>
        </div>

        <div class="w-1/2">
          <%= form.label :last_name, "Nom de famille", class: "mb-2 block text-sm font-medium text-gray-700" %>
          <%= form.text_field :last_name, id: "last_name", class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm transition focus:duration-150 focus:outline-none focus:ring-blue focus:border-blue sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= form.label :company, "Entreprise", class: "mb-2 block text-sm font-medium text-gray-700" %>
        <%= form.text_field :company, id: "company", class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm transition focus:duration-150 focus:outline-none focus:ring-blue focus:border-blue sm:text-sm" %>
      </div>

      <div>
        <%= form.label :email, "Email", class: "mb-2 block text-sm font-medium text-gray-700" %>
        <%= form.email_field :email, id: "email", class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm transition focus:duration-150 focus:outline-none focus:ring-blue focus:border-blue sm:text-sm" %>
      </div>

      <div>
        <%= form.label :phone, "Téléphone", class: "mb-2 block text-sm font-medium text-gray-700" %>
        <%= form.telephone_field :phone, id: "phone", class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm transition focus:duration-150 focus:outline-none focus:ring-blue focus:border-blue sm:text-sm" %>
      </div>

      <div>
        <%= form.label :message, "Message",class: "mb-2 block text-sm font-medium text-gray-700" %>
        <%= form.text_area :message, id: "message", class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm transition focus:duration-150 focus:outline-none focus:ring-blue focus:border-blue sm:text-sm" %>
      </div>


      <div class="mt-4 flex justify-center gap-4">

        <button type="button" data-action="dialog#close" class="px-4 py-2 rounded border-2 bg-transparent border-gray-500 text-gray-500 transition hover:duration-150 hover:bg-gray-500 hover:text-white">
          Annuler
        </button>

        <%= form.submit "Envoyer", data: { action: "dialog#close" }, class: "px-4 py-2 rounded bg-yellow text-blue border-b-2 border-r-2 border-blue transition inline-block cursor-pointer hover:duration-150 hover:bg-blue hover:text-yellow hover:border-yellow hover:scale-105 inline-block" %>

      </div>

    <% end %>



    <button type="button" class="px-3 py-3 text-white rounded bg-blue-600 shadow-none hover:bg-blue-500 hover:shadow-sm" data-action="dialog#close" autofocus>Cancel</button>
  </dialog>

  <button class="px-3 py-3 text-white rounded bg-blue-600 shadow-none hover:bg-blue-500 hover:shadow-sm" data-action="dialog#open">
    Nous Contacter
  </button>
</div>
